.titolo-h1 {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.spazio-sopra {
    padding-top: 10px;
}

.spazio-10 {
    padding: 10px;
}



.spazio-10 {
    /* padding: top right bottom left; */
    padding: 10px 0 10px 0;
}


.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px !important;
}

.m-10 {
    margin: 10px
}

.quadrato {
    background-color: green;
    width: 200px;
    height: 200px;
}

.border-10 {
    border: 2px dotted black;
}

.px-10 {
    padding-right: 100px;
}

.quadrato2 {
    background-color: azure;
    width: 200px;
    display: block;
    height: 200px;
    border: gray 2px solid;
    box-shadow: 0 4px 4px red;
    margin-right: 10px;
    margin-left: 10px;
}

.header {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.paragrafo {
    padding: 10px;
}

.pulsante {
    text-decoration: none;
}